.splash {
  background-color: $dark-blue;
  padding: 60px 0;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    height: 32px;
    width: 32px;
    border-radius: 25px;
    background-color: $magenta;
    bottom: -16px;
    left: 50%;
    transform: translate(-50%);
  }
}

@media (max-width: 950px) {
  .splash {
    .slider__container {
      margin: 0 45px;
    }
  }
}