.container {
  max-width: 1120px;
  margin: 0 auto;
}

.flexbox {
  display: flex;

  .col {
    flex: auto 1;

    &--3 {
      flex: 33% 1;
    }
  }
}

@media (max-width: 950px) {
  .flexbox {
    flex-direction: column;
  }
}