@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700;800&display=swap');

$main-font: 'Rubik', sans-serif;

/* CLOROS */
$white: #fff;
$light-blue: #28A9E0;
$dark-blue: #215398;
$black-text: #2D3236;
$magenta: #FF3859;

/* BUTTON */
$button-bg-color-hover: #28a9e030;