@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700;800&display=swap');

$main-font: 'Rubik', sans-serif;

/* CLOROS */
$white: #fff;
$light-blue: #28A9E0;
$dark-blue: #215398;
$dark-gray: #2D3236;

