.button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  display: inline-block;
  padding: 0;
  border-radius: 25px;
  transition: background-color 1s;

  svg {
    margin: 9px 15px;
    display: inline-block;
    vertical-align: middle;
  }

  &:hover {
    cursor: pointer;
    background-color: $button-bg-color-hover; 
  }

  &:focus {
    outline: none;
  }

  &--left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  &--right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}