.posts {
  position: relative;
  padding: 60px 0;
}

.posts__container {
  margin: 0 70px;
}

.posts__element {
  display: none;
  padding: 15px 30px 30px;
  text-align: center;
  background-color: $white;

  &--active {
    display: block;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.posts__title {
  margin: 20px 0 18px 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}

.posts__desc {
  margin: 0 0 18px 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  color: $gray-text;
}

.posts__icon {
  font-size: 42px;
  color: $light-gray;
}

@media (max-width: 950px) {
  .posts__element {
    margin-right: 0;
    margin-bottom: 20px;

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}