.title {
  text-align: center;
  font-weight: 300;
  font-size: 40px;
  line-height: 52px;
  margin: 0 0 15px 0;

  &--white {
    color: $white;
  }

  &--subtitle {
    font-size: 30px;
    line-height: 30px;
    margin-top: 36px;
  }
}